/* Footer styles */
.footer {
  padding: 2rem;
  background: none;
  text-align: center;
  background-color: #0F2557;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  padding: 0 1rem;
}

.footer-section h3 {
  color: #FA255E;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.footer-section p {
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.6;
}

.social-icon {
  margin: 0 10px;
  color: #ffffff;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #FA255E;
  text-decoration: none;
}

.social-icon a {
  pointer-events: none; 
  text-decoration: none;
}

/* Responsive Design */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    margin-bottom: 2rem;
  }
}
