.home-container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-image: linear-gradient(to bottom, #E1F2F7, #e6e6e6);
  /* background-image: url('../pages/background_Image/home_robo.png'); */
  background-size: 150% auto;
}

.home-content {
  /* text-align: center; */
  color: #fff; /* White text color for better contrast */
  position: relative;
  z-index: 1;
  max-width: 900px; /* Increased max-width for larger content */
  padding: 0 3rem; /* Increased padding for better spacing */
}

.home-content h1,
.home-content h2 {
  font-size: 3rem;
  margin: 0;
  /* color: #fff;  */
  color: #121313;
  /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
}

.tech {
  font-size: 70px;
  color: #C13F17;
}

.us {
  font-size: 80px;
  color: #005BAB;
}

.separator {
  padding-left: 30px;
  font-size: 100px;
}

.home-content p {
  /* color: #f0f0f0;  */
  color: #373737;
  font-size: 1.2rem; /* Increased font size for better readability */
  margin: 1rem 0;
}

.fine {
  display: flex;
  text-align: center;
  align-items: center;
}

.home-link {
  display: inline-block;
  padding: 1rem 2.5rem; /* Adjusted padding for better spacing */
  color: #fff;
  background-color: #EA445A; /* Vivid blue button color */
  border-radius: 8px; /* Increased border-radius for a more rounded button */
  text-decoration: none;
  font-weight: bold;
  /* background-image: linear-gradient(to bottom, #001f3f, #800080); */
  font-size: 1.2rem;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0.5, 0.5, 0.5, 0.8);
  transition: background-color 0.3s, transform 0.3s; /* Added transform transition for smooth scaling */
}

.home-link:hover {
  background-color: #0056b3; /* Darker blue on hover */
  transform: scale(1.05); /* Slightly larger on hover */
}

@media (max-width: 1024px) {
  .home-content {
    padding: 0 2rem;
  }

  .home-content h1,
  .home-content h2 {
    font-size: 2.5rem;
  }

  .tech {
    font-size: 3.5rem;
    color: #C13F17;
  }
  
  .us {
    font-size: 4.5rem;
    color: #005BAB;
  }
  .separator {
    padding-left: 30px;
    font-size: 5.5rem;
  }
  .home-content p {
    font-size: 1.2rem;
  }

  .home-link {
    padding: 0.9rem 2.2rem;
    font-size: 1.1rem;
  }
}

@media (max-width: 768px) {
  .home-content {
    padding: 0 1.5rem;
  }

  .home-content h1,
  .home-content h2 {
    font-size: 2rem;
  }

  .tech {
    font-size: 2.5rem;
    color: #C13F17;
  }
  
  .us {
    font-size: 2.5rem;
    color: #005BAB;
  }
  .separator {
    padding-left: 15px;
    font-size: 2.5rem;
  }

  .home-content p {
    font-size: 1.1rem;
  }

  .home-link {
    padding: 0.8rem 2rem;
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .home-content {
    padding: 0 1rem;
  }

  .tech {
    font-size: 2.0rem;
    color: #C13F17;
  }
  
  .us {
    font-size: 2.0rem;
    color: #005BAB;
  }
  .separator {
    padding-left: 10px;
    font-size: 2.5rem;
  }

  .home-content h1,
  .home-content h2 {
    font-size: 1.5rem;
  }

  .home-content p {
    font-size: 1rem;
  }

  .home-link {
    padding: 0.7rem 1.8rem;
    font-size: 0.9rem;
  }
}
