/* NavBar Container */
.navBar {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  position: fixed; /* Fixed position for navbar */
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  top: 0;
  backdrop-filter: blur(10px);
  background: #e0f7fa;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo img {
  height: 50px; /* Adjusted logo height */
  margin-right: 0.5rem;
  transition: transform 0.3s;
}

.logo h2 {
  color: #2c3e50;
  font-size: 1.5rem;
  margin: 0; /* Remove margin for consistency */
}

.logo:hover img {
  transform: scale(1.1);
}

.components {
  display: flex;
  gap: 1rem; /* Increased gap between components */
}

.components a {
  color: #2c3e50;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s, transform 0.3s;
  position: relative;
  padding: 0.5rem;
  font-weight: bold; /* Added font weight for emphasis */
}

.components a:hover {
  color: #3498db;
  transform: translateY(-2px);
}

.components a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #3498db;
  transition: width 0.3s;
  position: absolute;
  left: 0;
  bottom: -4px;
}

.components a:hover::after {
  width: 100%;
}

/* Responsive Design */
@media (max-width: 768px) {
  .components {
    display: none;
    flex-direction: column;
    gap: 0;
    background-color: #ffffff;
    width: 100%;
    text-align: center;
    position: fixed; /* Change to fixed position */
    top: 60px; /* Adjust top position to position below the navbar */
    left: 0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  }

  .navBar {
    flex-direction: column;
  }

  .logo {
    margin-bottom: 1rem;
  }

  .components.open {
    display: flex;
  }
}

.menu-toggle {
  display: none;
  cursor: pointer;
}

.menu-toggle div {
  width: 25px;
  height: 3px;
  background-color: #2c3e50;
  margin: 5px 0;
  transition: 0.4s;
}

/* Mobile menu open state */
.menu-toggle.open div:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 5px);
}

.menu-toggle.open div:nth-child(2) {
  opacity: 0;
}

.menu-toggle.open div:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -5px);
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
    position: fixed; /* Ensure the toggle button is fixed */
    top: 20px; /* Adjust top position for better alignment */
    right: 20px; /* Align toggle button to the right */
  }
}
