/* NavBar Container */
.navBar {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  top: 0;
  backdrop-filter: blur(10px);
  background: #e0f7fa;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo img {
  height: 40px;
  margin-right: 0.5rem;
  transition: transform 0.3s;
}

.logo h2 {
  color: #2c3e50;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}

.logo:hover img {
  transform: scale(1.1);
}

.components {
  display: flex;
  gap: 2rem; /* Consistent gap */
}

.components a {
  color: #2c3e50;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  transition: color 0.3s, transform 0.3s;
  position: relative;
}

.components a:hover {
  color: #3498db;
  transform: translateY(-3px); /* Improved hover effect */
}

.components a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #3498db;
  transition: width 0.3s;
  position: absolute;
  left: 0;
  bottom: -4px;
}

.components a:hover::after {
  width: 100%;
}

/* Responsive Design */
@media (max-width: 768px) {
  .components {
    display: none;
    flex-direction: column;
    gap: 1rem; /* Consistent gap */
    background-color: #ffffff;
    width: 100%;
    text-align: center;
    position: fixed;
    top: 60px;
    left: 0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    opacity: 0; /* Hide initially */
    pointer-events: none; /* Disable pointer events */
    transition: opacity 0.3s ease; /* Smooth transition */
  }

  .navBar {
    flex-direction: column;
  }

  .logo {
    margin-bottom: 1rem;
  }

  .components.open {
    display: flex;
    opacity: 1; /* Show when open */
    pointer-events: auto; /* Enable pointer events */
  }
}

.menu-toggle {
  display: none;
  cursor: pointer;
}

.menu-toggle div {
  width: 25px;
  height: 3px;
  background-color: #2c3e50;
  margin: 5px 0;
  transition: 0.4s;
}

.menu-toggle.open div:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.menu-toggle.open div:nth-child(2) {
  opacity: 0;
}

.menu-toggle.open div:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 3; /* Ensure above other elements */
  }
}
