@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

body {
  background: #fff;
  margin: 0;
  font-family: "Poppins";
  position: relative;
  height: 2000px; /* Added for scrolling effect */
}